<a href="https://colab.research.google.com/github/wonjae124/Capston/blob/main/datatype_category_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np

# 시리즈의 유일한 값 찾기 -> 변수[키값].unique()

  (1) 유일한 값 찾기 : pd.Series.unique()



출처: https://rfriend.tistory.com/267 [R, Python 분석과 프로그래밍의 친구 (by R Friend)]

In [7]:
df = pd.DataFrame({'A':['A1','A2','A2','A2', 'A3', 'A3'],
                   'B': ['B1', 'B1', 'B1', 'B1', 'B2', np.nan],
                   'C': [1, 1, 3, 4, 4, 4]})

df

    A    B  C
0  A1   B1  1
1  A2   B1  1
2  A2   B1  3
3  A2   B1  4
4  A3   B2  4
5  A3  NaN  4

In [8]:
df['A'].unique()

array(['A1', 'A2', 'A3'], dtype=object)

In [9]:
df['B'].unique()

array(['B1', 'B2', nan], dtype=object)

In [10]:
df['C'].unique()

array([1, 3, 4])

  (2) 유일한 값별로 개수 세기 : pd.Series.value_counts()

In [11]:
df['A'].value_counts()

A2    3
A3    2
A1    1
Name: A, dtype: int64

In [12]:
df['B'].value_counts()

B1    4
B2    1
Name: B, dtype: int64

In [13]:
df['C'].value_counts()

4    3
1    2
3    1
Name: C, dtype: int64

#카테고리형 데이터 생성: astype


메모리 사용량을 줄일 수 있다고 함.
  
출처 : https://wikidocs.net/78187

In [17]:
train = pd.read_csv("https://raw.githubusercontent.com/developer-sdk/kaggle-python-beginner/master/datas/kaggle-titanic/train.csv")

In [18]:
train.head

<bound method NDFrame.head of      PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]>

In [19]:
train['SexCategory'] = train.Sex.astype('category')

In [28]:
print(train['Sex'],'\n\n\n')
print(train['SexCategory'])

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object



0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: SexCategory, Length: 891, dtype: category
Categories (2, object): ['female', 'male']

In [29]:
train['SexCategory'].memory_usage()

1115

In [31]:
train['Sex'].memory_usage()

7256

In [32]:
train['SexCategory'].unique()

['male', 'female']
Categories (2, object): ['male', 'female']